@using EventSite.Domain
@using EventSite.Domain.Model
@model IEnumerable<EventSite.Domain.Model.Sponsor>
@{
    ViewInfo.Title = "Sponsors";
    var groups = Model.GroupBy(x => x.Level);
}

<div class="jumbotron">
    <h1>@ViewInfo.Title</h1>
    <p class="lead">Thanks to all the companies and individuals who helped make @State.CurrentEvent.Name possible!</p>
</div>

@if (State.UserIsAdmin())
{
    <div class="page-header text-center">
        <h3>@Model.Count() Sponsors Have Dontated a Total of @Model.Sum(x => x.AmountDonated).ToString("C").</h3>
    </div>
}

<div class="row">
    <div class="col-md-9" role="main">
            
        @foreach(var group in groups) {
            <div class="page-header">
              <h1>@group.Key.ToString() Sponsors</h1>
            </div>
            
            <ul class="media-list" style="padding-bottom: 60px;">
                @foreach(var sponsor in group) {
                    <li class="media">
                        <a class="pull-left" href="@sponsor.Link" target="_blank">
                            <img class="media-object sponsor" src="@GetImageUrl(sponsor.ImageSource)" alt="@sponsor.Name">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="@sponsor.Link" target="_blank">@sponsor.Name</a></h4>
                            <div class="description">@sponsor.Description</div>
                        </div>
                        @if(State.UserIsAdmin()) {
                            <div class="pull-right">
                                <a class="btn btn-success" href="@Url.Action("Detail", "Sponsors", new {eventSlug = Event.SlugFromId(sponsor.Event.Id), sponsorSlug = Sponsor.SlugFromId(sponsor.Id)})">Edit</a>
                            </div>
                        }
                    </li>
                }
            </ul>
        }
    </div>
    
    <div class="col-md-3" style="padding-top: 100px;">
        <div role="complementary">
            <ul class="sidenav nav">
                <li class="active">Attention Potential Sponsors!</li>
                <li>If you are interested in becoming a sponsor for this event stay tuned to this page for updates or follow us on twitter: <a href="http://twitter.com/TallyCodeCamp">@@TallyCodeCamp</a> </li>
            </ul>
        </div>
        
        @if(State.UserIsAdmin() && State.EventScheduled()) {
            <div class="text-center">
                <a href="@Url.Action("Create", "Sponsors", new {eventSlug = State.CurrentEventSlug()})" class="btn btn-lg btn-success">
                    Add a Sponsor for <br/>
                    @State.CurrentEvent.Name
                </a>
            </div>
        }
    </div>
</div>