@using EventSite.Domain
@model EventSite.ViewModels.Account.LoginViewModel

@{
    ViewInfo.Title = "Login";
}

<div class="jumbotron">
    <h2>Login or Create an Account</h2>
    <p class="lead">Select one of the social login providers below to get started.</p>
</div>

<div class="container login-buttons" >
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <a class="btn btn-lg btn-default" href="@Model.GoogleAuthUrl">
                Google
            </a> 
        </div>
        <div class="col-md-2">
            <a class="btn btn-lg btn-default" href="@Model.FacebookAuthUrl">
                Facebook
            </a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <a class="btn btn-lg btn-default" href="@Model.TwitterAuthUrl">
                Twitter
            </a> 
        </div>
        <div class="col-md-2">
            <a class="btn btn-lg btn-default" href="@Model.GithubAuthUrl">
                Github
            </a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <a class="btn btn-lg btn-default" href="@Model.LinkedInAuthUrl">
                LinkedIn
            </a> 
        </div>
        <div class="col-md-2">
            <a class="btn btn-lg btn-default" href="@Model.WindowLiveAuthUrl">
                Windows Live
            </a> 
        </div>
    </div>
</div>