-var speakerId=ViewData["UserId"];
.two-columns
	.sidebar
		%h3 Actions
		%p 
			%a{href="http://en.gravatar.com/site/signup/" targert="_blank"} Gravatar Setup
		%p 
			=Html.ActionLink("Change Password","Password","Account")
		%p 
			=Html.ActionLink("Propose Session","Propose","Session")
		%h3 Status
		%p Attending
		%div
			-Html.RenderAction("Proposals", new {speakerId=speakerId,controller="Speakers"});
	.main-column
		%h2 Your Profile
		%form{method="post"}
			.field
				%label Name
				= Html.FormField<EditProfile>(x=>x.Name)
			.field
				%label Blog Url
				= Html.FormField<EditProfile>(x=>x.BlogUrl)
			.field
				%label Title
				= Html.FormField<EditProfile>(x=>x.Title)
			.field
				%label Company Name
				= Html.FormField<EditProfile>(x=>x.CompanyName)
			.field
				%label Are you an MVP?
				= Html.CheckBox("IsMVP", new{@class="checkbox"})
			.field
				%label twitter Handle
				= Html.FormField<EditProfile>(x=>x.Twitter)
			.field
				%label A Short Bio
				= Html.TextArea("Bio")
			.field
				%label Telephone
				= Html.FormField<EditProfile>(x=>x.Phone)
			.field
				%label 
				= Html.CheckBox("IsPublic", new{@class="checkbox"})
				%span Can we list you in our online directory of who's attending?
			.field
				%label 
				= Html.CheckBox("OptOut", new{@class="checkbox"})
				%span Can we send you a email or two on behalf of our sponsors?
			.form-buttons
				%input {type="submit" value="Update"}
				=ViewData["Message"]