.two-columns
	.sidebar
		%h3 Your Speaker Profile
		%p This is the information we'll display on your profile page. The only bit we <em>require</em> is your name.
		%p Actually, the Telephone is just for us. We won't make that public.
		%p Want to change your profile picture? We're using Gravatar. If you don't have one, then you can
			%a{href="http://en.gravatar.com/site/signup/" targert="_blank"} get one here.
	.main-column
		%h2 Setup Your Profile
		%form{method="post"}
			.field
				%label Name
				= Html.FormField<EditProfile>(x=>x.Name)
			.field
				%label Blog Url
				= Html.FormField<EditProfile>(x=>x.BlogUrl)
			.field
				%label Title
				= Html.FormField<EditProfile>(x=>x.Title)
			.field
				%label Company Name
				= Html.FormField<EditProfile>(x=>x.CompanyName)
			.field
				%label twitter Handle
				= Html.FormField<EditProfile>(x=>x.Twitter)
			.field
				%label A Short Bio
				= Html.TextArea("Bio")
			.field
				%label Telephone
				= Html.FormField<EditProfile>(x=>x.Phone)
			.form-buttons
				%input {type="submit" value="Next"}