@using EventSite.Domain
@using EventSite.Infrastructure
@model EventSite.ViewModels.RegisteredUsers.IndexOutput<EventSite.Domain.Model.Speaker>
@{
    ViewInfo.Title = "Speakers";
}

<div class="jumbotron">
    <h1>Speakers</h1>
    <p class="lead">Check out who's speaking.</p>
</div>

    
<div class="container">
    @foreach(var row in Model.UserRows) {
        <div class="row speakers">
            @foreach(var speaker in row) {
                var slug = EventSite.Domain.Model.User.SlugFromId(speaker.Id);

                <a data-toggle="modal" href="#@slug" class="col-xs-2 col-sm-2 col-md-2">
                    <img class="avatar img-responsive" src="@Avatar.GetUrl(speaker.User.Email, 128)" alt="@speaker.DisplayName" />
                    <div class="text-center">@speaker.DisplayName</div>
                </a>

                <div class="modal fade" id="@slug" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <img class="avatar img-responsive" style="width: auto" src="@Avatar.GetUrl(speaker.User.Email, 128)" alt="@speaker.DisplayName">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8">
                                        <h3>@speaker.DisplayName</h3>
                                        <div>@speaker.User.GetProfessionalInfo()</div>
                                        @if (State.UserIsAdmin()) {
                                        <div>@speaker.User.Email</div>
                                        }
                                    </div>
                                    <button class="close col-xs-1 col-sm-1 col-md-1" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="row">
                                    @if(string.IsNullOrEmpty(speaker.User.Profile.Bio)) {
                                        <div class="col-lg-12 text-center bio">No Bio Available</div>
                                    } else {
                                        <div class="col-lg-12 bio">@speaker.User.Profile.Bio</div>
                                    }
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p class="pull-left">PRESENTING</p>
                                    </div>
                                </div>
                                @foreach(var session in speaker.Sessions) {
                                    <div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                                                <h4>@session.Name</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@if(Model.Page.HasMultiplePages) {

    <ul class="pager">
        @if (Model.Page.HasPreviousPage)
        {
            <li>
                <a href="@Url.Action("Index", "Speakers", new {eventSlug = Model.EventSlug, page = Model.Page.PreviousPage})">Previous</a>
            </li>
        }
        
        @if (Model.Page.HasNextPage)
        {
            <li>
                <a href="@Url.Action("Index", "Speakers", new {eventSlug = Model.EventSlug, page = Model.Page.NextPage})">Next</a>
            </li>
        }
    </ul>
}

@if(!string.IsNullOrEmpty(Model.ActiveUserSlug)) {
    <script type="text/javascript">
        (function (es) {
            es.activeSpeakerSlug = "@Model.ActiveUserSlug";
        })(window.EventSite || (window.EventSite = {}));
    </script>
}