@model EventSite.Domain.Commands.CreateOrUpdateEvent
@{
    var isCreate = string.IsNullOrEmpty(Model.Event.Id);
    var title = isCreate ? "Create Event" : "Edit Event";
    var action = isCreate
        ? Url.Action("Index", "Events")
        : Url.Action("Detail", "Events", new { eventSlug = Model.Slug });

    ViewInfo.Title = title;
}

<div class="jumbotron">
    <h1>@title</h1>
    <p class="lead">Enter details about the event</p>
</div>

<div class="row">
    @Html.ActionLink("Return to list of events", "Index", "Events")
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal" role="form" method="POST" action="@action">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#basics" data-toggle="tab">Basics</a>
                </li>
                <li>
                    <a href="#venue" data-toggle="tab">Venue</a>
                </li>
                @if (Model.Event.IsCurrent)
                {
                    <li class="pull-right">
                        <span class="label label-success">Current</span>
                    </li>
                }
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="basics">
                    <p>
                        <div class="form-group">
                            <label for="Event.Name" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Name" name="Event.Name" placeholder="Name" value="@Model.Event.Name" />
                                @Html.ValidationMessage("Event.Name")
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Slug" class="col-lg-2 control-label">Slug</label>
                            <div class="col-lg-10">
                                @if (isCreate)
                                {
                                    <input type="text" class="form-control" id="Slug" name="Slug" placeholder="Slug" value="@Model.Slug" />
                                    @Html.ValidationMessageFor(m => m.Slug)
                                }else
                                {
                                    <label class="form-control-static">@Model.Slug</label>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Event.FlyerUrl" class="col-lg-2 control-label">Event Flyer</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.FlyerUrl" name="Event.FlyerUrl" placeholder="Flyer Url" value="@Model.Event.FlyerUrl" />
                                @Html.ValidationMessage("Event.FlyerUrl")
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Event.FlyerUrl" class="col-lg-2 control-label">Schedule Url</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.ScheduleUrl" name="Event.ScheduleUrl" placeholder="Schedule Url" value="@Model.Event.ScheduleUrl" />
                                @Html.ValidationMessage("Event.ScheduleUrl")
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Event.Start" class="col-lg-2 control-label">Start</label>
                            <div class="col-lg-10">
                                <input type="datetime" class="form-control" id="Event.Start" name="Event.Start" placeholder="Start" value="@Model.Event.Start.ToString("MM/dd/yy h:mm tt")" />
                                @Html.ValidationMessage("Event.Start")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.End" class="col-lg-2 control-label">End</label>
                            <div class="col-lg-10">
                                <input type="datetime" class="form-control" id="Event.End" name="Event.End" placeholder="End" value="@Model.Event.End.ToString("MM/dd/yy h:mm tt")" />
                                @Html.ValidationMessage("Event.End")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Description" class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                                <textarea rows="4" class="form-control" id="Event.Description" name="Event.Description" placeholder="Description">@Model.Event.Description</textarea>
                                @Html.ValidationMessage("Event.Description")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ScheduleSummary" class="col-lg-2 control-label">Schedule Summary</label>
                            <div class="col-lg-10">
                                <textarea rows="4" class="form-control" id="Event.ScheduleSummary" name="Event.ScheduleSummary" placeholder="Schedule Summary">@Model.Event.ScheduleSummary</textarea>
                                @Html.ValidationMessage("Event.ScheduleSummary")
                            </div>
                        </div>

                        @if (Model.Event.IsCurrent)
                        {
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Event.IsSessionSubmissionOpen) Open for Session Submission
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </p>
                </div>
                <div class="tab-pane" id="venue">
                    <p>
                        <div class="form-group">
                            <label for="Event.Venue.Name" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.Name" name="Event.Venue.Name" placeholder="Name" value="@Model.Event.Venue.Name" />
                                @Html.ValidationMessage("Event.Venue.Name")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.Street1" class="col-lg-2 control-label">Street 1</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.Street1" name="Event.Venue.Street1" placeholder="Street 1" value="@Model.Event.Venue.Street1" />
                                @Html.ValidationMessage("Event.Venue.Street1")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.Street2" class="col-lg-2 control-label">Street 2</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.Street2" name="Event.Venue.Street2" placeholder="Street 2" value="@Model.Event.Venue.Street2" />
                                @Html.ValidationMessage("Event.Venue.Street2")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.City" class="col-lg-2 control-label">City</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="City" name="Event.Venue.City" placeholder="City" value="@Model.Event.Venue.City" />
                                @Html.ValidationMessage("Event.Venue.City")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.StateOrProvince" class="col-lg-2 control-label">State/Province</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.StateOrProvince" name="Event.Venue.StateOrProvince" placeholder="State/Province" value="@Model.Event.Venue.StateOrProvince" />
                                @Html.ValidationMessage("Event.Venue.StateOrProvince")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.Country" class="col-lg-2 control-label">Country</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.Country" name="Event.Venue.Country" placeholder="Country" value="@Model.Event.Venue.Country" />
                                @Html.ValidationMessage("Event.Venue.Country")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.PostalCode" class="col-lg-2 control-label">Postal Code</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.PostalCode" name="Event.Venue.PostalCode" placeholder="Postal Code" value="@Model.Event.Venue.PostalCode" />
                                @Html.ValidationMessage("Event.Venue.PostalCode")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.VenueInfoLink" class="col-lg-2 control-label">Venue info link:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.VenueInfoLink" name="Event.Venue.VenueInfoLink" placeholder="Venue Info URL" value="@Model.Event.Venue.VenueInfoLink" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.ParkingInformation" class="col-lg-2 control-label">Parking Information</label>
                            <div class="col-lg-10">
                                <textarea rows="4" class="form-control" id="Event.Venue.ParkingInformation" name="Event.Venue.ParkingInformation" placeholder="Parking Information">@Model.Event.Venue.ParkingInformation</textarea>
                                @Html.ValidationMessage("Event.Venue.ParkingInformation")
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Event.Venue.ParkingInfoLink" class="col-lg-2 control-label">Parking info link:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="Event.Venue.ParkingInfoLink" name="Event.Venue.ParkingInfoLink" placeholder="Parking Info URL" value="@Model.Event.Venue.ParkingInfoLink" />
                            </div>
                        </div>
                    </p>

                </div>
            </div>

            <div class="pull-right">
                @if (isCreate)
                {
                    <button type="submit" class="btn btn-lg btn-success">Save</button>
                }
                else {
                    <button type="submit" class="btn btn-lg btn-success">Update</button>
                }
            </div>

        </form>

        <div class="pull-right">
            @if (!isCreate && !Model.Event.IsCurrent)
            {
                <form style="display: inline; margin-right: 8px" method="POST" action="@Url.Action("MakeCurrent", "Events", new {eventSlug = Model.Slug})">
                    <button class="btn btn-lg btn-primary">Make Current</button>
                </form>
            }
        </div>
    </div>
</div>