@using System.Activities.Statements
@using EventSite.Domain
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewInfo.Title = "Home";
}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container marketing">
    @if(State.EventScheduled()) {
        var ev = State.CurrentEvent;
        var venue = ev.Venue;
        
        <div class="row">
            <div class="col-lg-4">
                <span class="glyphicon glyphicon-info-sign info-icon"></span>
                <h2>What?</h2>
                <p>@ev.Description</p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index", "Sessions", new{eventSlug=State.CurrentEventSlug()})">Peruse Sessions &raquo;</a>
                </p>
            </div>

            <div class="col-lg-4">
                <span class="glyphicon glyphicon-road info-icon"></span>
                <h2>Where?</h2>
                
                <address>
                    <strong>@venue.Name</strong><br />
                    @if(!string.IsNullOrEmpty(venue.Street1)) {
                        <span>@venue.Street1</span><br />
                    }
                    @if(!string.IsNullOrEmpty(venue.Street2)) {
                        <span>@venue.Street2</span><br />
                    }
                    @venue.City, @venue.StateOrProvince @venue.PostalCode
                </address>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index", "Location", new{eventSlug=State.CurrentEventSlug()})">View Map &raquo;</a>
                </p>
            </div>

            <div class="col-lg-4">
                <span class="glyphicon glyphicon-calendar info-icon"></span>
                <h2>When?</h2>
                <p>@ev.Name starts on<br/>@ev.Start.Date.ToLongDateString() at @ev.Start.DateTime.ToShortTimeString()
                    and ends
                    @if(ev.Start.Date == ev.End.Date) {
                        <span>later that day at @ev.End.DateTime.ToShortTimeString().</span>
                    } else {
                        <span>at @ev.End.Date.ToLongDateString() at @ev.End.DateTime.ToShortTimeString().</span>
                    }
                </p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index", "Location", new{eventSlug=State.CurrentEventSlug()})">See Schedule &raquo;</a>
                </p>
            </div>
        </div>
    }

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Charity: <span class="text-muted"> Be The Solution</span></h2>
            <p class="lead">
                Want a chance to win some awesome swag and help a good cause at the same time?
                By purchasing raffle tickets for $1 each you can help support a local charity, <a href="http://www.bethesolution.us/">Be the Solution</a>,
                a non-profit organization devoted to ending the pet overpopulation problem in Tallahassee, FL.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image charity img-responsive" src="~/Content/images/home/charity.jpg" alt="Be the Solution">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image challenge img-responsive" src="~/Content/images/home/challenge.jpg" alt="Challenge">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Take up the challenge. <span class="text-muted">Enter the fray.</span></h2>
            <p class="lead">
                This year there is going to be a challenge room where you can tackle some problem solving challenges and see how your solution stacks up to the competition!
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Lodge with Marriot: <span class="text-muted">Enjoy a discounted rate.</span></h2>
            <p class="lead">
                A block of rooms have been reserved at the SpringHill Suites by Marriott. 
                Contact them directly for reservations at 850-325-1103. 
                Be sure to let them know you are part of the Tallahassee Code Camp group when making the reservation to ensure the $79 rate!
                
                
            </p>
            <address>
                <a target="_blank" href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d4278!2d-84.236179!3d30.426662!4m25!2m11!1m10!1s0x0%3A0xacadd2d03db90266!3m8!1m3!1d220090!2d-84.2568559!3d30.4671395!3m2!1i1024!2i768!4f13.1!5m12!1m11!1sSpringHill+Suites+Tallahassee+Central!4m8!1m3!1d220090!2d-84.2568559!3d30.4671395!3m2!1i1024!2i768!4f13.1!17b1">SpringHill Suites by Marriott</a>,
                1300 Executive Center Drive,
                Tallahassee FL, 32301
            </address>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Content/images/home/lodging.jpg" alt="Lodging">
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image challenge img-responsive" src="~/Content/images/home/food.jpg" alt="Food">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Free Food. <span class="text-muted">Yes, for real.</span></h2>
            <p class="lead">
                FREE breakfast and FREE lunch will be provided on site. Now, you really have no excuse for not coming do you?
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    @Html.Partial("Footer")
</div>