@model EventSite.Domain.Model.EventStatistics
@using EventSite.Domain
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewInfo.Title = "Home";
}

@if (State.EventScheduled())
{
    var ev = State.CurrentEvent;
    var venue = ev.Venue;
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">@ev.Name</div>
            </div>
        </div>
    </header>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1>
                        @Model.SpeakerCount Speakers. @Model.SessionCount Sessions. @Model.RegisteredAttendeeCount Attendees.
                    </h1>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ev.FlyerUrl))
        {
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Download the event flyer <a href="@ev.FlyerUrl" target="_blank">here</a>!</h2>
            </div>
        </div>
        }
        @if (!string.IsNullOrEmpty(ev.ScheduleUrl))
        {
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">
                        <a href="@ev.ScheduleUrl" target="_blank">Event Schedule</a>
                    </h2>
                </div>
            </div>
        }
        <hr class="featurette-divider" />
        <div class="row">
            <div class="col-lg-4">
                <span class="glyphicon glyphicon-info-sign info-icon"></span>
                <h2>What?</h2>
                <p>@ev.Description</p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index", "Sessions", new { eventSlug = State.CurrentEventSlug() })">Peruse Sessions &raquo;</a>
                </p>
            </div>
            <div class="col-lg-4">
                <span class="glyphicon glyphicon-road info-icon"></span>
                <h2>Where?</h2>
                <address>
                    <strong>@venue.Name</strong><br />
                    @if (!string.IsNullOrEmpty(venue.Street1))
                    {
                        <span>@venue.Street1</span><br />
                    }
                    @if (!string.IsNullOrEmpty(venue.Street2))
                    {
                        <span>@venue.Street2</span><br />
                    }
                    @venue.City, @venue.StateOrProvince @venue.PostalCode
                </address>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index", "Location", new { eventSlug = State.CurrentEventSlug() })">View Map &raquo;</a>
                </p>
            </div>
            <div class="col-lg-4">
                <span class="glyphicon glyphicon-calendar info-icon"></span>
                <h2>When?</h2>
                <p>
                    @ev.Name starts on<br />@ev.Start.Date.ToLongDateString() at @ev.Start.DateTime.ToShortTimeString()
                    and ends
                    @if (ev.Start.Date == ev.End.Date)
                    {
                        <span>later that day at @ev.End.DateTime.ToShortTimeString().</span>
                    }
                    else
                    {
                        <span>at @ev.End.Date.ToLongDateString() at @ev.End.DateTime.ToShortTimeString().</span>
                    }
                </p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index", "Location", new { eventSlug = State.CurrentEventSlug() })">See Schedule &raquo;</a>
                </p>
            </div>
        </div>

        @Html.Partial("_EventStuff")
        @Html.Partial("_Featurette")
    </div>
}
@Html.Partial("Footer")
