@using CodeCamp.Domain.Model
@model IEnumerable<CodeCamp.Domain.Model.Event>

@{
    ViewInfo.Title = "Events";
}

<div class="jumbotron">
    <h1>Events</h1>
    <p class="lead">View current and past events.</p>
</div>

@if(Model.Any()) {
    <div class="row">
        <div class="col-md-3">
            <div role="complementary">
                <div class="text-center">
                    <a href="@Url.Action("Create", "Events")" class="btn btn-lg btn-success">
                        Create a<br/>
                        New Event
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9" role="main">
            <ul class="media-list">
                @foreach(var ev in Model) {
                    <li class="media">
                        <div class="media-body">
                            <h4 class="media-heading">
                                @ev.Name
                                @if(ev.IsCurrent) {
                                    <div class="pull-right">
                                        <span class="label label-success">Current</span>
                                    </div>
                                }
                            </h4>
                            
                            <div>
                                <span class="label label-primary">Start&nbsp;</span>
                                <span>@ev.Start.ToString("MM/dd/yy h:mm tt")</span>
                            </div>
                            
                            <div>
                                <span class="label label-warning">End&nbsp;&nbsp;&nbsp;</span>
                                <span>@ev.End.ToString("MM/dd/yy h:mm tt")</span>
                            </div>

                            <div>
                                <div class="pull-right">
                                    @if(!ev.IsCurrent) {
                                        <form style="display: inline" method="POST" action="@Url.Action("MakeCurrent", "Events", new { eventSlug = Event.SlugFromId(ev.Id) })">
                                            <button class="btn btn-primary">Make Current</button>
                                        </form>
                                    }
                                    <a href="@Url.Action("Detail", "Events", new {eventSlug=Event.SlugFromId(ev.Id)})" class="btn btn-success">Edit</a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
} else {
    <div class="text-center" style="margin: 16px">
        <a href="@Url.Action("Create", "Events")" class="btn btn-lg btn-success">
            Create a<br/>
            New Event
        </a>
    </div>
}